@use 'sass:color';

$color-primary: #261676;
$color-secondory: #2463ff;
$color-secondory-hover: #d0d6f9;
$color-light: #ffffff;
$color-gradient1: #fe71fe;
$color-gradient2: #7199ff;
$color-gradient-heading: #67b6ff;

$font-heading-XL: 8.5rem;
$font-heading-L: 5.5rem;
$font-heading-M: 3rem;
$font-heading-S: 2rem;

$font-body: 1.625rem;
